fileTypes: [
  "robots.txt"
]
name: "robots.txt"
scopeName: "source.robotstxt"
patterns: [
  {
    name: "comment.line.number-sign"
    match: "# .*"
  }
  {
    match: "^(?i:User-Agent|Allow|Disallow|Sitemap)(:)([^#\\n]*)"
    captures:
      '0':
        name: "support.constant"
      '1':
        name: "punctuation.separator.key-value"
      '2':
        patterns: [
          {
            # * Special Character
            name: "keyword.other"
            match: "\\*"
          }
          {
            # $ Special Character
            name: "keyword.other"
            match: "\\$"
          }
          {
            name: "string"
            match: "(/)?(.+)(/){0,1}[^#\\n]*$"
            captures:
              '1':
                name: "punctuation.other"
              '2':
                patterns: [
                  {
                    include: "#symbols"
                  }
                ]
              '3':
                name: "punctuation.other"
          }
        ]
  }
]
repository:
  symbols:
    patterns: [
      {
        name: "keyword.other"
        match: "\\*"
      }
      {
        name: "keyword.other"
        match: "\\$"
      }
      {
        name: "constant.language"
        match: "\\?"
      }
      {
        name: "constant.language"
        match: "="
      }
      {
        name: "constant.language"
        match: "&"
      }
      {
        name: "support.type"
        match: "[a-zA-Z]{2,5}://"
      }
      {
        name: "punctuation.other"
        match: "/"
      }
      {
        # Match Known Google User Agents
        name: "support.class"
        match: "Storebot-Google|APIs-Google|Mediapartners-Google|Googlebot-Image|Googlebot-News|GoogleProducer|Googlebot-Video|AdsBot-Google-Mobile-Apps|FeedFetcher-Google|Google-Read-Aloud|Google-Site-Verification|AdsBot-Google-Mobile|AdsBot-Google|Googlebot"
      }
      {
        # Match the Internet Archive User Agents
        name: "support.class"
        match: "archive.org_bot"
      }
      {
        # Match Pulsar User Agents
        name: "support.class"
        match: "Pulsar-Edit-Bot"
      }
      {
        # Match DuckDuckGo User Agents
        name: "support.class"
        match: "DuckDuckBot"
      }
      {
        # Match Bing User Agent
        name: "support.class"
        match: "Bingbot"
      }
      {
        # Match Yahoo User Agent
        name: "support.class"
        match: "Slurp"
      }
      {
        # Match Baidu Search Engine User Agent
        name: "support.class"
        match: "Baiduspider(-image|-video|-news|-cpro|-ads)?"
      }
      {
        # Match Yandex Search Engine User Agent
        name: "support.class"
        match: "YandexBot"
      }
      {
        # Match Sogou Search Engine User Agent
        name: "support.class"
        match: "Sogou( Pic Spider\/3\.0\( http:\/\/www\.sogou\.com\/docs\/help\/webmasters\.htm#07\)| head spider\/3\.0\( http:\/\/www\.sogou\.com\/docs\/help\/webmasters\.htm#07\)| web spider\/4\.0\(\+http:\/\/www\.sogou\.com\/docs\/help\/webmasters\.htm#07\)| Orion spider\/3\.0\( http:\/\/www\.sogou\.com\/docs\/help\/webmasters\.htm#07\)|-Test-Spider\/4\.0 \(compatible; MSIE 5\.5; Windows 98\))+"
      }
      {
        # Match Exalead Search Engine User Agent
        name: "support.class"
        match: "Exabot"
      }
      {
        # Match Facebook Bot User Agent
        name: "support.class"
        match: "facebookexternalhit(\/1\.1 \(\+http:\/\/www\.facebook\.com\/externalhit_uatext\.php\)|\/1\.1)?|facebookcatalog\/1\.0"
      }
      {
        # Match Apple Web Crawler Bot User Agent
        name: "support.class"
        match: "Applebot"
      }
    ]
